.immobileList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.typeList {
    display: flex;
    justify-content: flex-end;
}

a {
    cursor: pointer;
}

.fa {
    color: #999c9e;
}

.active {
    color: #0d6efd !important;
}

.vivareal {
    background: #1190cd;
}

.logo {
    padding: 5px 20px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    border: solid 1px #999d9d;
    padding: 5px 50px;
}

.logo:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.disabled {
    cursor: no-drop !important;
}

@media (max-width: 765px) {
    .typeList {
        display: none;
    }
}